<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white display-6">
      {{title}}
    </div>

    <div class="card-block">
      @if(products && products.length) {

      <!-- FILTRO -->
      <form class="form p-3 border-bottom">
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-end"
                 for="filterDesc">Filtro:</label>
          <div class="col-sm-5">
            <input type="text"
                   [(ngModel)]="filterSearch"
                   class="form-control"
                   name="filterDesc"
                   id="filterDesc"
                   placeholder="filtro...">
          </div>
          <label class="col-form-label col-sm-5">
            Filtrando por: {{filterSearch}}</label>
        </div>
      </form>

      <!-- TABLA -->
      <div class="table-responsive">
        <table class="table table-striped">
          <!-- cabecera de la tabla -->
          <thead>
            <tr>
              <button class="btn btn-sm m-1"
                      [ngClass]="{'btn-danger': showImage, 'btn-primary': !showImage}"
                      (click)="toggleImage()">
                {{showImage ? 'Ocultar' : 'Mostrar'}} {{headers.image}}
              </button>
              <th>{{headers.description}}</th>
              <th>{{headers.price}}</th>
              <th class="showCursor"
                  (click)="sortByDate()">{{headers.available}}</th>
            </tr>
          </thead>
          <!-- contenido de la tabla -->
          <tbody>
            @for(product of products | productFilter:filterSearch; track product.id) {
            <tr app-product-item
                [product]="product"
                [showImage]="showImage"></tr>
            }
          </tbody>
        </table>
      </div>
      }
      @else {
      <!-- mensaje en caso de no haber productos en el array s-->
      <div class="alert alert-info">
        No hay productos
      </div>
      }
    </div><!-- card-block -->
  </div><!-- card -->
</div><!-- container -->

<!-- NUEVO PRODUCTO -->
<div class="container mt-2">
  <div class="card">
    <div class="card-header bg-info text-white display-6">
      Nuevo producto
    </div>
    <div class="card-body">
      <app-add-product (newProductEvent)="addProduct($event)" />
    </div><!-- card-body -->
  </div><!-- card -->
</div><!-- row -->