:root {
    --p-10: 10px;
    --p-5: 5px;
}

*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.container {
    background-color: lightgray;
    padding: var(--p-10);
}

form {
    display: grid;
    grid-template-columns: max-content 300px 100px;
    row-gap: 5px;
    column-gap: 10px;
}

label {
    grid-column: 1 / 2;
    justify-self: end;
}

input {
    grid-column: 2 / 4;
}

span.error {
    grid-column: 2 / 4;
    justify-self: end;
    background-color: antiquewhite;
}

input[type="checkbox"] {
    grid-column: 1 / 2;
    justify-self: end;
}

label[for="terms"] {
    grid-column: 2 / 3;
    justify-self: start;
}

button[type="submit"],
button[type="reset"] {
    grid-column: 3 / 4;
}

input:invalid {
    border: 1px solid red;
    background-color: #fee7;
}

input:valid {
    border: 1px solid green;
}

.error {
    color: red;
}

@media screen and (max-width: 700px) {
    form {
        display: flex;
        flex-direction: column;
    }
}
