:root {

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    font-size: 2em;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content auto min-content;
}

.header {
    background-color: lightpink;
    grid-column: 1 / span 12;
}

.nav {
    background-color: lightcyan;
    grid-column: 1 / span 2;
}

.login {
    background-color: lightgreen;
    grid-column: 3 / span 10;
}

.register {
    background-color: lightgoldenrodyellow;
    display: none;
}

.main {
    background-color: lightskyblue;
    display: none;
}

.footer {
    background-color: lightseagreen;
    grid-column: 1 / span 12;
    grid-row: 3;
}

@media screen and (max-width:500px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}